/* Responsive for SMALL Device */
  
@media only screen and (max-width: 576px) {
    nav{
        margin-top: 100px;
        flex-direction: column;
        gap: 50px;
    }
    .right-side ul .link{
        flex-direction: column;
        gap: 50px;
    }
    .right-side ul {
        flex-direction: column;
        gap: 50px;
    }
    
    /* Banner Section */
    .banner-section{
        flex-direction: column;
        justify-content: center;
    }
    .banner-left-side{
        order: 1;
        text-align: center;
        background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);

    }
    .sign-in{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .banner-right-side{
        order: 0;
    }
    /* Banner Section end*/

    /* Gamer Section */
    .gamer{
        flex-direction: column;
    }
    .gamer-right{
        text-align: center;
    }
    
    /* Gamer Section end*/
}
/* -------------------- */
/* -------------------- */
/* -------------------- */


/* Responsive for Medium Device */
@media only screen and (min-width: 576px) and (max-width:992px) {
    nav{
        margin-top: 100px;
        flex-direction: column;
        gap: 50px;
    }

    /* Banner Section */
    .banner-section{
        flex-direction: column;
    }
    .banner-left-side{
        text-align: center;
    }
   /* Banner Section end*/

   /* Gamer Section */
   .gamer{
    flex-direction: column;
}
.gamer-right{
    text-align: center;
}

/* Gamer Section end*/
}